.triangular {
  margin: 40px 0 0;
  padding: 0px; 
  width: 40px;
  background-color: white;
}

.triangular > div {
  list-style-type: none;
  width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
  margin-top:-32px;
	
}

.triangular > div:nth-child(even) {
  border-left: 40px solid gray; 
  transition: 0.5s all; 
}

.triangular > div:nth-child(odd) {
  border-right: 40px solid gray; 
  transition: 0.5s all; 
}

.active-odd {
  border-right: 40px solid red !important;
  transition: 0.2s all; 
}

.active-even {
   border-left: 40px solid red !important;
  transition: 0.2s all; 
}
